mixin sGoals()
	// start sGoals
	+b.SECTION.sGoals.section#sGoals&attributes(attributes)
		.container
			.row
				+e.rightCol.col-md-6
					+e.imgWrap
						img.res-i(src="img/@2x/photo.jpg", alt="")
					+e.tm tm
				.col-md-6.order-lg-first
					h2 Our main principles and goals
					.h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
					.h6 Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.
					+e.contact.btn Contact us

	// end sGoals