mixin sTestimonals()
	// start sTestimonals
	+b.SECTION.sTestimonals.section#sTestimonals&attributes(attributes)
		.container
			.row
				+e.leftCol.col-lg-6
					//- +pic('ThomasMiller')
					+e.imgWrap
						img.res-i(src="img/@2x/ThomasMiller.jpg", alt="")
					.h6 Thomas Miller, Marco Polo Invest Group CEO
				+e.rightCol.col-lg-6
					+icon('quotes')
					//- +pic('headerBg')
					+e.rightImageWrapper
						img.res-i.d-none.d-lg-block(src="img/@2x/headerBg.jpg", alt="")
					+e.title TESTIMONIALS
					+b.swiperSlider.swiper-container
						.swiper-wrapper
							.swiper-slide
								.h2 It&nbsp;was amazing experience to&nbsp;work with your team. Great job has done and our company has own trademark now. Thanks and good luck.
								.h6 — Thomas Miller, Marco Polo Invest #[span.d-none.d-lg-inline Group] CEO
							.swiper-slide
								.h2 It&nbsp;was amazing experience to&nbsp;work with your team. Great job has done and our company has own trademark now. Thanks and good luck.
								.h6 — Thomas Miller, Marco Polo Invest #[span.d-none.d-lg-inline Group] CEO
							.swiper-slide
								.h2 It&nbsp;was amazing experience to&nbsp;work with your team. Great job has done and our company has own trademark now. Thanks and good luck.
								.h6 — Thomas Miller, Marco Polo Invest #[span.d-none.d-lg-inline Group] CEO
							.swiper-slide
								.h2 It&nbsp;was amazing experience to&nbsp;work with your team. Great job has done and our company has own trademark now. Thanks and good luck.
								.h6 — Thomas Miller, Marco Polo Invest #[span.d-none.d-lg-inline Group] CEO
							.swiper-slide
								.h2 It&nbsp;was amazing experience to&nbsp;work with your team. Great job has done and our company has own trademark now. Thanks and good luck.
								.h6 — Thomas Miller, Marco Polo Invest #[span.d-none.d-lg-inline Group] CEO
					+e.navigation
						.swiper-pagination
						.swiper-button-next
						.swiper-button-prev
	// end sTestimonals