mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Trademark Registration in&nbsp;China
				.h3 Qualified support and assistance
			+e.register.btn(href="#") Register now
	// end headerBlock
	
mixin headerBlock-Qwiz()
	// start headerBlock
	+b.headerBlock--qwiz#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Trademark Registration in&nbsp;China
				.h3 Qualified support and assistance 

mixin headerBlockForm()
	+b.headerBlock#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Trademark Registration in&nbsp;China
				.h3 Qualified support and assistance
			+form-wrap()
			
				+input("Search now", "search")
				+e.quote.btn(href="#") GET QUOTE
	// end headerBlock
	