mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Trademark Registration in&nbsp;China
				h3 Qualified support and assistance
			+e.register.btn(href="#") Register now
	// end headerBlock