mixin sAbout()
	// start sAbout
	+b.sAbout#sAbout&attributes(attributes)
		.container
			.row
				+e.col.col-lg-7
					.h6 About us
					.h2 We&nbsp;provide professionals to quick and qualified trademark registration in&nbsp;China
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
					+e.find.btn(href="#") FIND A SPECIALIST
				+e.rightBlock.col.text-center.d-none.d-lg-block
					.h1 250+
					.h3 Specialists online
					+e.help Our professionals are ready to&nbsp;support you and provide any other help
	// end sAbout