extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sAbout/_sAbout.pug 
include ../blocks/sTestimonals/_sTestimonals.pug 
include ../blocks/sGoals/_sGoals.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Trademark'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		//- +topLine()
		+top-nav()
		+headerBlock()
	+sAbout()
	+sTestimonals()
	+sGoals()
	+footer()