mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	.container
		+b.toggle-menu-mobile--js.d-lg-none
			span
		+b.menu-mobile--js.d-lg-none
			+b.toggle-menu-mobile--js
				span
			+e.inner
				+e.logoWrap
					+e.logo(href="#") Attornium
				+mnu()
				+e.bottomBlock
					+e.register.btn(href="#") Register now
					+e.address.h6 48-49 Russell Square, WC1B 4JP, London
					+e.mail.h6(href="mailto:info@attornium.net") info@attornium.net
					+e.tel(href="tel:18006434300") 1 800 643 4300
					+e.copyright.h6 Copyright © Attornium 2020
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.logoWrap
				+e.logo(href="#") Attornium
			+mnu()(class="d-none d-lg-block")
					
	// end top-nav