.top-nav {
	padding-top: rem(76);
	// position: absolute;
	top: 100%;
	// @include clearfix;ss
	z-index: 20;
	@include mt;
	padding-bottom: rem(20);
	top: 0;
	left: 0;
	width: 100%;

	&.fixed {
		width: 100vw;
		bottom: auto;
		margin-top: 0;
		background-color: #fff;
	}

	ul {
		display: flex;
		justify-content: space-between;

		li {
			list-style: none;
			&:not(:last-child) {
				margin-right: rem(62);
			}

			a {
				font-size: $small;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none !important;
				&:hover {
					opacity: .6;
				}
			}
		}
	}


	&__logoWrap {
		position: absolute;
		@include a-cent(x);
	}

	&__logo {
		position: relative;
		@extend .h6;
		font-weight: 700;
		color: #fff !important;
		text-decoration: none !important;

		&::before {
			content: '';
			position: absolute;
			width: rem(52px);
			height: rem(52px);
			background-color: #3280ef;
			z-index: -1;
			@include a-cent;
		}
	}

	// &__item {
	// 	display: inline-block;
	// 	list-style-type: none;
	// }

	//
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
